"""
    Created by xukai on 2019/12/24
"""

# 查询天气的城市
CITY_NAME = '上海'
# 是否发送明日天气,为True则如果当前时间为20点后,发送明日天气
IS_TOMORROW = True

# 每日一句渠道(不填则随机获取,1:土味情话,2:彩虹屁,3:金山词霸·每日一句(双语),4:一言,5:句子迷(暂不可用))
WORDS_CHANNEL = ''

# 计算在一起的天数,日期不填写则不计算
START_DATE = ''
START_DATE_MSG = '爱你的第{}天'

# 爱称
YOUR_NAME = ''
MY_NAME = ''

# Email配置
MAIL_SERVER = 'smtp.qq.com'
MAIL_PORT = 25
MAIL_USE_SSL = True
MAIL_USE_TSL = False
MAIL_USERNAME = ''
MAIL_PASSWORD = ''
MAIL_SUBJECT_PREFIX = '[每日天气提醒]'
MAIL_RECEIVERS = ''  # 接收人邮箱
